$primary: #3F0F3F;
$primary_border: #331B33;
$secondary_1: #C44EC5;
$secondary_1_shadow: #8A3B8A;
$secondary_2: #333333;
$accent_1: #F5F5F5;
$accent_2: #33CC33;
$accent_3: #00FF00;
$border-guide: 1px solid red;