$green: green;
$white: white;
$black: black;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$grey: grey;
$purple: purple;
$brown: brown;
$teal: teal;
$navy: navy;
$maroon: maroon;
$olive: olive;
$lime: lime;
$gold: gold;
$silver: silver;
$gray: gray;

$border-guide: 1px solid red;